body {background-image: url("paper1.jpg"); 
      background-position: center; 
      background-repeat: no-repeat;
      height: 100%;
      background-size: 1920px 1600px;}  
      
form {text-align: center;}
h1 {text-align: center; color: red;}